<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookstore.dao.BookCustomMapper">

    <sql id="Base_Column_List">
    b.id, b.bookname, b.price, b.category_id, b.author, b.publish_time, b.sell_point as sellPoint,b.image, b.created, b.updated,
    b.inventory, b.sales_volume,b.kinds,b.discount,bc.name as categoryName
  </sql>

    <select id="countBooks" resultType="com.bookstore.pojo.vo.CountBook">
    select
        sum(case when b.category_id in(19,20,21,22) then 1 else 0 end ) child,
        sum(case when b.category_id in (23,24,25) then 1 else 0 end ) literature,
        sum(case when b.category_id in (26,27,28) then 1 else 0 end ) novel,
        sum(case when b.category_id in (29,30,31,32) then 1 else 0 end ) economicManagement,
        sum(case when b.category_id in (33,34,35,36) then 1 else 0 end ) life,
        sum(case when b.category_id in (37,38,39) then 1 else 0 end ) exam
    from book b;
  </select>

    <select id="getBookForBack" resultType="com.bookstore.pojo.vo.BookVO">
        SELECT
        <include refid="Base_Column_List" />
        from book b LEFT JOIN book_category bc on b.category_id = bc.id
        where b.id= #{id}
    </select>
    <select id="getBookForProtal" resultType="com.bookstore.pojo.vo.BookVO">
        SELECT
        <include refid="Base_Column_List" />
        from book b LEFT JOIN book_category bc on b.category_id = bc.id
        where b.id= #{id}
    </select>

    <select id="listBook_new" resultType="com.bookstore.pojo.vo.BookVO">
        SELECT
        <include refid="Base_Column_List" />
        from book b LEFT JOIN book_category bc on b.category_id = bc.id
        where b.status =1 and b.kinds=1  order by b.created DESC limit 0,3
    </select>

    <select id="listBook_recommended" resultType="com.bookstore.pojo.vo.BookVO">
        SELECT
        <include refid="Base_Column_List" />
        from book b LEFT JOIN book_category bc on b.category_id = bc.id
        where b.status =1 and b.kinds=2  order by b.created DESC limit 0,3
    </select>

    <select id="listBook_specialSupply" resultType="com.bookstore.pojo.vo.BookVO">
        SELECT
        <include refid="Base_Column_List" />
        from book b LEFT JOIN book_category bc on b.category_id = bc.id
        where b.status =1 and b.kinds=3  order by b.created DESC limit 0,3
    </select>
</mapper>