<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookstore.dao.UserCustomMapper" >
  <resultMap id="BaseResultMap" type="com.bookstore.pojo.po.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="account" property="account" jdbcType="DOUBLE" />
    <result column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="isVIP" property="isvip" jdbcType="INTEGER" />
    <result column="integration" property="integration" jdbcType="VARCHAR" />
    <result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
    <result column=" identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="consumption_amount" property="consumptionAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, password, tel, email, register_time, account, addr_id, is_valid, isVIP, 
    integration, pay_password, " identity_card", consumption_amount
  </sql>
<select id="selectAll" resultMap="BaseResultMap" >
  select
   <include refid="Base_Column_List"/>
   from user
  where isVIP=0 and is_valid!=1
</select>
  <select id="selectAllVip" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where isVIP!=0 and is_valid!=1
  </select>
  <update id="deleteUser" parameterType="java.lang.Long">
    update user set is_valid =1
     where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="modify">
    update user set password =#{password}
     where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>