@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
ul, li {
	list-style:none;
}
#lanrenzhijia {
	width: 980px;
	text-align: left;
	height: 31px;
	margin: 0px auto;
	z-index:100;
	_position: relative;
	_top:0px;
}
#lanren_nav {
	width: 980px;
	float: left;
	display: block;
	z-index: 100;
	overflow: visible;
	position: fixed;
	top: 0px; /* position fixed for IE6 */
	_position: absolute;
 _top: expression(documentElement.scrollTop + "px");
	background:#2571B7;
	height: 31px;
}
#lanren_nav li {
	width:auto;
	height:31px;
	line-height:31px;
	padding:0px 15px;
	float:left;
	text-align:center;
}
#lanren_nav li:hover {
	background:#175286;
}
#lanren_nav li a {
	color:#fff;
	font-size:12px;
	text-decoration:none;
}
#lanren_nav li a:hover {
	text-decoration:none;
	color:#fff;
}
p {
	text-align:center;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
