<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            ">
    <!--扫描com.bookstore.dao 包下（或者其子包下）的所有注解类-->
    <context:component-scan base-package="com.bookstore.dao"/>
    <!--引入数据库配置文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--配置数据库连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--基本连接属性-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--调优参数属性-->
        <!--自动提交是关闭-->
        <property name="defaultAutoCommit" value="false"/>
    </bean>
    <!--创建mybatis会话工厂,SqlSessionFactoryBean来自与mybatis-spring.jar-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--注入mybatis的主配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!--注入dao层的mapper映射文件-->
        <property name="mapperLocations" value="classpath*:com/bookstore/dao/*Mapper.xml"/>
        <property name="plugins">
            <!-- 分页插件 -->
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                        </value>
                    </property>
                </bean>
            </array>
        </property>

    </bean>
    <!--配置完之后，DAO层接口就不需要实现了-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入mybatis会话工厂-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--在这个包下的所有接口是不需要实现的-->
        <property name="basePackage" value="com.bookstore.dao"/>

    </bean>
</beans>